<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Logo</a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">Link 1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link 2</a>
    </li>

    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Dropdown link
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Link 1</a>
        <a class="dropdown-item" href="#">Link 2</a>
        <a class="dropdown-item" href="#">Link 3</a>
      </div>
    </li>
  </ul>
</nav>
<div class="container ">
  <div class="row">
    <div class="col-md-4">
      <hello name="{{ name }}"></hello>
      <div>
        Start editing to see some magic happen :)
        <p>
          <select name="miselect" [(ngModel)]="seleccionado">
            <option [value]="item" *ngFor="let item of lista">{{item}}</option>
          </select>
        </p>
        <p>
          {{seleccionado}}
        </p>
      </div>
    </div>
    <div class="col-md-8 mt-4 ">
      <ul>
        <li *ngFor="let employee of EmployeeArray" class="list-group-item" (click)="openForEdit(employee)" [class.active]="employee == selectedEmployee">
          {{ employee.Operador }} - {{ employee.Turno }}
        </li>  
      </ul>
    </div>  
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4"></div>  
    <div class="form-group col-md-8">
      <input type="text" [(ngModel)]="selectedEmployee.Operador" placeholder="Operador" class="form-control mb-2">
      <input type="text" [(ngModel)]="selectedEmployee.Turno" placeholder="turno" class="form-control mb-2">
    </div>
    <button (click)="addOrEdit()" class="btn btn-primary">
      SUBMIT
    </button>
  </div>